
# Oracle数据库设置
DB_HOST=oracle-db:1521/XEPDB1
ORACLE_PWD=RetailSystem2024!

# 数据库用户名
DB_USER=retail_user

# 数据库密码
DB_PASS=retail_pass

# JWT密钥
JWT_SECRET_KEY=RetailSystem_JWT_SecretKey_2024_VeryLongAndSecure!